.u-section-1 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1240px;
  margin: 60px -50px 24px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 535px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 444px 0 2px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 444px 0 2px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: 42px auto 0 2px;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  width: 389px;
  height: 441px;
  margin: -219px 0 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: -175px auto 0 4px;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: 48px auto 0 4px;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 535px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 96px;
  width: 96px;
  color: rgb(255, 193, 102) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 535px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 79px 422px 0 24px;
}

.u-section-1 .u-text-7 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 38px 422px 0 24px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: 67px auto 0 24px;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-2 {
  width: 393px;
  height: 480px;
  margin: -284px 0 -195px auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 535px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-9 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 922px;
  }

  .u-section-1 .u-text-1 {
    width: 313px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 313px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 474px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -528px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 125px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 824px;
  }

  .u-section-1 .u-text-6 {
    width: 313px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 313px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 579px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin: -589px auto 0 71px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 36px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 36px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 36px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 165px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    width: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 90px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 824px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 826px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 377px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 363px;
    margin-top: -412px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 726px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 44px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 391px;
    margin-top: 43px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1040px;
  margin: 68px auto 60px 38px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/intro_app_connect_to_same_wifi.png");
  background-position: 50% 50%;
  min-height: 446px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 462px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 14px 0 0;
}

.u-section-2 .u-image-2 {
  height: 61px;
  margin-bottom: 0;
  margin-top: 59px;
}

.u-section-2 .u-image-3 {
  height: 77px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 624px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 403px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-2 .u-image-2 {
    height: 55px;
  }

  .u-section-2 .u-image-3 {
    height: 69px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 564px;
  }

  .u-section-2 .u-image-4 {
    height: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1598px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 639px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-image-2 {
    height: 87px;
  }

  .u-section-2 .u-image-3 {
    height: 109px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 780px;
  }

  .u-section-2 .u-image-4 {
    height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 479px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-2 {
    height: 65px;
    margin-top: 23px;
  }

  .u-section-2 .u-image-3 {
    height: 82px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 713px;
  }

  .u-section-2 .u-image-4 {
    height: 310px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 302px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-image-2 {
    height: 41px;
    margin-top: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 52px;
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 642px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 264px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1570px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 798px;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  width: 974px;
  margin: 60px auto 60px 30px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1506px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-3 .u-image-1 {
  width: 312px;
  left: 6px;
  right: auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 69px 25px 0 366px;
}

.u-section-3 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 24px 0 366px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-3 .u-image-2 {
  width: 312px;
  left: 6px;
  right: auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 69px 25px 0 366px;
}

.u-section-3 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 24px 0 366px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 6px;
}

.u-section-3 .u-image-3 {
  width: 312px;
  left: 6px;
  right: auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 69px 25px 0 366px;
}

.u-section-3 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 24px 0 366px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 6px;
}

.u-section-3 .u-image-4 {
  width: 312px;
  left: 6px;
  right: auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 69px 25px 0 366px;
}

.u-section-3 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 24px 0 366px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2339px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2107px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    height: 383px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 95px auto 0 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -268px;
    margin-right: 95px;
    margin-left: 412px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 51px;
    margin-right: 207px;
    margin-left: 412px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-2 {
    background-position: 50% 50%;
    height: 383px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 95px auto 0 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -268px;
    margin-right: 95px;
    margin-left: 412px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 51px;
    margin-right: 207px;
    margin-left: 412px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 50%;
    height: 383px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 95px auto 0 20px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -268px;
    margin-right: 95px;
    margin-left: 412px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 51px;
    margin-right: 207px;
    margin-left: 412px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-4 {
    background-position: 50% 50%;
    height: 383px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 95px auto 0 20px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -268px;
    margin-right: 95px;
    margin-left: 412px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 51px;
    margin-right: 207px;
    margin-left: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-image-1 {
    width: 183px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 12px;
    margin-right: 112px;
    margin-left: 238px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-image-2 {
    width: 183px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 12px;
    margin-right: 112px;
    margin-left: 238px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 287px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 112px;
    margin-left: 287px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 287px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 112px;
    margin-left: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2394px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2419px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: 287px;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 266px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: 287px;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: 266px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 183px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: 287px;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: 266px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    width: 183px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    width: 287px;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    width: 266px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2441px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2242px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-1 {
    width: 213px;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 19px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-2 {
    width: 213px;
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 19px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-3 {
    width: 213px;
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 19px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-4 {
    width: 213px;
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 19px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 86px 80px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 912px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-4 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-4 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-4 .u-list-item-4 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 752px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 864px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-btn-1 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-btn-2 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-btn-3 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-btn-4 {
    padding: 9px 41px 11px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 3rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1386px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1286px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-custom-html-1 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1060px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}